In [3]:
import numpy as np
import pandas as pd

In [4]:
d = {
    'col1': np.arange(10),
    'col2': np.arange(10),
}

In [5]:
df = pd.DataFrame(d)

In [6]:
df

   col1  col2
0     0     0
1     1     1
2     2     2
3     3     3
4     4     4
5     5     5
6     6     6
7     7     7
8     8     8
9     9     9